################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/OFFICE/.thumbnail
/OFFICE/.webaxs_L
/OFFICE/.webaxs_M
/OFFICE/.webview
/OFFICE/.webaxs_S
