.logonbox {
    top:2.4em;
    bottom:1.4em;
    width:100%;
    position:fixed;
    left:0em;
    background-color: rgb(220,230,240);
}

.Operation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 360px; /* 横幅 */
    height: 160px; /* 高さ */
    background-color: aquamarine;
    margin-left: -180px; /* マイナス「横幅÷2」 */
    margin-top: -80px; /* マイナス「高さ÷2」 */
    background: radial-gradient(circle at 20% 20%, #8dff8d, #003300, rgba(0, 51, 0, 0.79)); /* BOXのグラデーション */
    border-radius: 0.75em; /*半径0.75文字分の大きさで角が丸*/
    z-index: 20;
}
.logonkeybox {
    position: relative;
    top: 15%;
    left: 10%;
}
.logonkeybox p {
    margin-bottom: 1em;
}
.logonkeybox span {
    min-width: 1em;
    position: relative;
}
.guidancebox {
    display:none;
    left:7em;
    width:67em;
    height: 28em;
    background-color:white;
    border:inset;
    overflow-y:scroll;
    border-color:black
}
.guidancebox span {
    color:red;
    background-color:white;
}