#headerbox {
    height:100%;
}

#detailbox {
    top:21.0em;
}

#timebox td {
    width: 4.2em;
    border-color: white;
    border: 1px solid;
}
#timebox table {
    border: 1px solid;
    font-size: 12.8px;
    text-align: center;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

#pnlListArea {
    margin-left:0.7em;
    margin-right:0.78em;

}

div[data-generated='1'] th,
div[data-generated='1'] td {
    height: 16.5px !important;
    font-size: 11px !important;
    word-wrap: break-word;
}

#detailbox {
    background-color: rgb(220, 230, 240) !important;
}

a.disabled {
    pointer-events: none;
}
